bin/
obj/
.vs/
.vscode/

*.user
*.suo
*.binlog
*.pdb

installer/*.exe
installer/*.msi

*.apk
*.aab
*.ipa
*.msix
*.msixbundle
*.appinstaller

android-screen*.png
emu-*.png
oppo-*.png
ui-*.png
*.xml

!*.csproj
!App.xaml
!AppShell.xaml
!MainPage.xaml
!SettingsPage.xaml
!Platforms/**/*.xml
!Resources/**/*.xml
